.artigo{
    max-width: 40em;
    padding: 0 12px;
    margin: 12px auto;
    color: #202122;
}

.titulo{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
    word-break: break-word;
    margin: 0;
    padding: 0;
}

.paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.65;
    margin: .5em 0 1em 0;
}

.codigo{
    padding: .2em .5em;
    border: 1px solid #c8ccd1;
}

.figura-artigo{
    text-align: center;
}

.indice{
    margin: 1em 0;
    padding: .2em .5em;
    background-color: #f8f9fa;
    border: solid 1px #eaecf0;
    width: 50%;
    min-width: 300px;
    line-height: 1.8;
}