body{
    margin: 0;
}

.cabecalho{
    padding: 12px 24px;
    background-color: #eaecf0;
}

.logo-figura{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
}

.logo-nome{
    margin: 0 12px;
    font-size: 35px;
}


.rodape{
    background-color: #eaecf0;
    text-align: center;
    padding: 12px;
}