html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

a{
    color: #3366cc;
}

a:not(:hover){
    text-decoration: none;
}

.cabecalho{
    padding: 12px 24px;
    background-color: #eaecf0;
}

.cabecalho-conteudo{
    max-width: 40em;
    margin: 0 auto;
}

.logo-figura{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
}

.logo-nome{
    margin: 0 12px;
    font-size: 35px;
}


.rodape{
    background-color: #eaecf0;
    text-align: center;
    padding: 12px;
}